html,body{

    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;

    background: #111;
    color: #FFF;
}

.ApplicationName{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.TypingArea{
    display: inline-block;
    vertical-align: top;

    width: 60%;
    height: 100%;

    padding: 30px;
    margin:0px;

    text-align: center;
}

.TextToType{
    padding: 10px;

    border: 5px solid #444;
    border-radius: 2px;

    text-align: left;

    line-height: 150%;
    font-size: 20px;
}

.InputTyping{
    width: 95%;
    height: 30px;

    margin-top: 10px;

    border-radius: 2px;

    outline: none;

    color: #111;
    font-size: 20px;
}

.StatsArea{
    display: inline-block;
    vertical-align: top;

    width: 20%;

    padding: 30px;
    margin:0px;

    border-radius: 5px;
    background: #333;

    text-align: center;
}

.ChangeQuote{
    margin: 10px;

    outline: none;

    background: #111;

    border: 5px outset red;
    border-radius: 5px;

    color: #FFF;

    cursor: pointer;
}

.ChangeQuote:hover{
    background: #222;
}

.ChangeQuote:active{
    border: 5px inset red;
    background: #333;
}

.Resultats{
    display: inline-block;

    width: 20%;

    vertical-align: top;
    text-align: left;
    line-height: 10px;
}
.Resultats div{
    margin: 0px
    padding-right: 30px;
    font-size: 15px;
}

.Resultats h2{
    margin: 0px
    padding: 5px;
    font-size: 20px;
}

.Graphique{
    display: inline-block;

    width: 75%;
}